<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite parallel="false" name="Suite">
  <test name="Test">
    <classes>
      <class name="Week1.Day1.CorrectUserName"/>
      <class name="Week1.Day1.WrongUserName"/>
      <class name="Week1.Day1.BothInCorrect"/>
      <class name="Week1.Day1.BothCorrect"/>
   </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
